//Fonts 
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'HelveticaCn';
    src: url('../fonts/HelveticaNeueLTProCn.woff2') format('woff2');
  }

@font-face {
    font-family: 'HelveticaTh';
    src: url('../fonts/HelveticaNeueLTProTh.woff2') format('woff2');
}

@font-face {
    font-family: 'HelveticaUltTh';
    src: url('../fonts/HelveticaNeueLTProUltLt.woff2') format('woff2');
}


//Colors 
$red : #A62349;
$blue : #6A82FC;
$green:#6CE68E;
$yellow: #FCE16A;
$orange: #F27166;
$pink: #E66C8E;
$primary-black: #27262f;
$white: #ededed;

//screen-size

$md-laptop: 1440px;
$sm-laptop: 1280px;
$phone: 425px;